@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Utility */

:root {
    --cor-botao-azul: #344D88;
    --fonte-primaria: "Montserrat", sans-serif;
    --cor-cards-artigo: #344D88;
    --cor-letra-branca: #FFFFFF;
}

/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1.5rem 3rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
    gap: 2rem;
}

.logo {
    min-width: 6rem;
    min-height: 3rem;
    width: 12rem;
    height: 5rem;
    background-image: url('./IMAGES/LOGO.sabara-HOME.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: auto;
}

.nav-links {
    font-family: var(--fonte-primaria);
    font-weight: bold;
    display: flex;
    gap: 2rem;
    margin: 0 4rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: #bfdbfe;
}

/* Botões da Navbar */
.botoes-nav {
    display: flex;
    gap: 1.5rem;
    margin-left: 3rem;
}

.botao-mapa-da-dor {
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--cor-letra-branca);
    background: transparent;
    border: 1px solid white;
    transition: all 0.3s;
}

.botao-login {
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    background: var(--cor-botao-azul);
    color: var(--cor-letra-branca);
    border: none;
    transition: all 0.3s;
}

.botao-login:hover {
    background: var(--cor-botao-azul);
}

/* Seção de Diagnóstico */
.diagnostico {
    position: relative;
    height: 100vh;
    min-height: 600px;
    color: var(--cor-letra-branca);
    overflow: hidden;
}

.imagem-header1 {
    position: absolute;
    inset: 0;
    min-width: 100%;
    min-height: 100%;
}

.imagem-header1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
    min-height: 100vh;
}

.overlay-do-header {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(17, 24, 39, 0.8), rgba(17, 24, 39, 0.4));
    min-width: 100%;
    min-height: 100%;
}

.container-conteudo-diagnostico {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.diagostico-texto {
    max-width: 32rem;
    font-family: var(--fonte-primaria);
}

.diagnostico-titulo {
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.diagnostico-subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    color: var(--cor-letra-branca);
    margin-bottom: 2rem;
    font-weight: bold;
}

.botao-sabara {
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    background: var(--cor-botao-azul);
    color: var(--cor-letra-branca);
    border: none;
    transition: all 0.3s;
}

.botao-sabara:hover {
    background: var(--cor-botao-azul);
}

/* Artigos */

.artigos {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: var(--fonte-primaria);
    color: var(--cor-letra-branca);
  }
  
  .artigos .card-container {
    display: flex;
    gap: 2rem;
    position: relative;
    background-color: var(--cor-cards-artigo);
    border-radius: 26px;
    max-width: 82vw;
    min-height: 42rem;
    margin-top: -6rem;
    z-index: 1;
    justify-content: center;
  }
  
  .artigos .card-container .card-1 p {
    margin-left: 15px;
  }

  .artigos .card-container .card-1,
  .artigos .card-container .card-2 {
    position: relative;
  }
  
  .artigos .card-container .card-1::before,
  .artigos .card-container .card-2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 104%;
    height: 66%;
    width: 2px;
    background-color: var(--cor-letra-branca);
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .imagem-card .botao-artigo img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: visible;
  }
  
  .artigos .card {
    background-color: #344D88;
    color: var(--cor-letra-branca);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 24rem;
  }
  
  .imagem-card {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .artigos .card-container > * {
    position: relative;
    width: 50%;
  }

  .imagem-card .botao-artigo {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 34%;
    display: inline-block;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
}
  
  .imagem-card .botao-artigo img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .artigos .conteudo-card-artigo {
    padding: 20px;
  }
  
  .conteudo-card-artigo h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .conteudo-card-artigo p {
    font-size: 1.25rem;
  }

/* Como Funciona */

  .como-funciona {
    font-family: var(--fonte-primaria);
    padding: 40px;
    background-color: #fff;
    max-width: 100%;
    width: 100%;
    margin-top: -2%;
  }

  .como-funciona h2 {
    text-align: flex-start;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--cor-cards-artigo);
    margin-bottom: -12px;
  }

  .etapas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 64px;
  }

  .como-funciona-container-imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
    margin-top: 2%;
  }
  .como-funciona-container-imagens .imagem img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .consultorio-infantil-imagem img {
    width: 100%;
  }

  .entretenimento-infantil-imagem {
    margin-left: 8.375rem;
}

  .como-funciona-container-textos {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 4%;
    margin-top: 16px;
  }

  .primeira-etapa,
  .segunda-etapa,
  .terceira-etapa {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
  }

  .primeira-etapa img,
  .segunda-etapa img,
  .terceira-etapa img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }

  .texto-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .texto-container h3 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-cards-artigo);
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .texto-container p {
    font-size: 1.10rem;
    color: #666;
    line-height: 1.5;
    margin: 0;
  }

/* Como funciona? e Solução! */
  
  .problema-e-solucao {
    margin-left: 4%;
    width: 92vw;
    background: url(./IMAGES/problema-solucao.IMAGE.png) center / cover no-repeat;
    border-radius: 15px;
    padding: 2.5rem;
    padding-bottom: 4rem;
    font-family: var(--fonte-primaria);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 4rem;
  }
  
  .problema-e-solucao h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .problema-e-solucao p {
    font-size: 1rem;
  }

  .glass-container {
    width: 70%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    color: white;
  }
  
  .esquerda {
    align-self: flex-start;
  }
  
  .direita {
    align-self: flex-end;
  }
  
  .teste-voce-mesmo-botao {
    background-color: #ffffff;
    color: var(--cor-botao-azul);
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
  }

/* Responsividade */

@media (max-width: 1440px) {

    .imagem-card .botao-artigo img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .imagem-card .botao-artigo {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        width: 34%;
        display: inline-block;
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        overflow: hidden;
    }

    .artigos .card-container {
        display: flex;
        gap: 2rem;
        position: relative;
        background-color: var(--cor-cards-artigo);
        border-radius: 8px;
        max-width: 90vw;
        min-height: 46rem;
        margin-top: -6rem;
        z-index: 1;
        justify-content: center;
    }

    .imagem-card .botao-artigo img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .texto-container p {
        font-size: 1rem;
        color: #666;
        line-height: 1.5;
        margin: 0;
    }

}

@media (max-width: 1280px) {

    .navbar {
        padding: 1rem 1rem;
    }

    .navbar-container {
        gap: 1rem;
    }

    .nav-links {
        gap: 1rem;
        margin: 0 1rem;
    }

    .botoes-nav {
        display: flex;
        gap: 1.5rem;
        margin-left: 3rem;
    }

    .botao-mapa-da-dor,
    .botao-login {
        white-space: nowrap;
        padding: 0.5rem 1.25rem;
        border-radius: 9999px;
        font-size: 1.5rem;
    }

    .nav-links a {
        font-size: 1.25rem;
        white-space: nowrap;
    }

    .imagem-card .botao-artigo img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .como-funciona-container-imagens .imagem img {
        width: 50%;
        height: auto;
        border-radius: 10px;
      }
    
}

/* Responsividade para telas ainda menores */
@media (max-width: 1024px) {

    .navbar {
        padding: 0.8rem 1rem;
    }

    .navbar-container {
        gap: 0.8rem;
    }

    .botoes-nav {
        gap: 0.2rem;
    }

    .botao-mapa-da-dor,
    .botao-login {
        padding: 0.4rem 1rem;
        font-size: 0.9rem;
    }

    .nav-links a {
        font-size: 0.9rem;
    }

    .artigos {
        margin-top: -6rem;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        font-family: var(--fonte-primaria);
        color: var(--cor-letra-branca);
    }

    .diagostico-texto {
        max-width: 32rem;
        font-family: var(--fonte-primaria);
        margin-bottom: 160px;
    }

    .imagem-card .botao-artigo img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

    }
    
    .artigos .card-container .card-1::before,
    .artigos .card-container .card-2::before {
    content: none;    
    }

    .artigos .card-container {
        flex-direction: column;
    }

    .imagem-card .botao-artigo {
        width: 33%;
        position: static;
        transform: translateX(0);
        margin-top: 30px;
    }

    
}
/* Responsividade de tablets */
@media (max-width: 768px) {

    .navbar {
        padding: 1rem;
    }

    .nav-links {
        display: none;
    }

    .botoes-nav {
        gap: 0.5rem;
    }

    .botao-mapa-da-dor,
    .botao-login {
        padding: 0.4rem 0.8rem; 
        font-size: 0.85rem;
    }

    .diagnostico-titulo {
        font-size: 1.8rem;
    }

    .diagnostico-subtitulo {
        font-size: 1rem;
    }
}

/* Smartphones */

@media (max-width: 480px) {

    .botoes-nav {
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        top: 100%;
        right: 1rem;
    }

    .botao-mapa-da-dor,
    .botao-login {
        padding: 0.35rem 0.8rem;
        font-size: 0.8rem;
    }

    .logo {
        width: 120px;
        height: 40px;
    }
}